
<!DOCTYPE html>
<html>
	<head>
		<title> Kube-Monitor | Tracking CPU/GPU usage </title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="static/css/styles.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
		.flex {
		  display: flex;
		  flex-direction: column;
		}
		</style>
	</head>

	<body>

		<nav class="blue darken-3 color-primary">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Kubernetes Monitoring - Pod and
					Node Usage </a>
			</div>
		</nav>  
		<div class="tab-bar  color-primary--dark">
			<a href="/" class="layout__tab">Overview</a>
			<a href="pod" class="layout__tab ">Pod Details </a>
			<a href="#" class="layout__tab is-active">Node Details</a>
		</div>
		<div class="container">
			<div class="row"></div>
			<div class="row"></div>
			{% for nd in sorted(nodeData.keys()) %}
				<div class="row">
					<div class="col s12 ">
						<h4> {{ nd  }} </h4>
					</div>
					<div class="col s3 ">
						<div class="progress">
							<div class="determinate blue darken-3" style="width: {{ gpuUsg[nd] }}%"></div>
						</div>
						<h6> GPU Memory Utilization </h6>
					</div>
					<div class="col offset-s1 s3 ">
						<div class="progress">
							<div class="determinate blue darken-3" style="width:
								{{ nodeData[nd]['cpuUsage']  }}%"></div>
						</div>
						<h6> CPU Utilization </h6>
					</div>
					<div class="col offset-s1 s3 ">
						<div class="progress">
							<div class="determinate blue darken-3" style="width:
							{{ nodeData[nd]['memUsage'] }}%"></div>
						</div>
						<h6> Memory Utilization </h6>
					</div>
				</div>
				<div class="row">
					<div class="col s4 ">
						<div class="card green darken-2">
							<div class="card-content white-text">
								<span class="card-title">Requests</span>
								<table >
									<tr class="green darken-4">
										<th>Metric</th>
										<th>Request</th>
										<th>Total</th>
									</tr>
									<tr>
										<td>CPUs</td>
										<td>{{nodeData[nd]["reqCpu"]}}</td>
										<td>{{nodeData[nd]["maxCpu"]}}</td>
									</tr>
									<tr>
										<td>Memory</td>
										<td>{{ nodeData[nd]["reqMem"] }}</td>
										<td>{{nodeData[nd]["maxMem"] }}</td>
									</tr>
									<tr>
										<td>GPUs</td>
										<td>2</td>
										<td>4</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col s8 ">
						<div class="card card-medium blue darken-4">
							<div class="card-content white-text">
								<span class="card-title">Usage</span>
								<table >
									<tr class="grey darken-4">
										<th>GPU ID</th>
										<th>Type</th>
										<th>Utilization</th>
										<th>Mem. Used</th>
										<th>Mem. Total</th>
									</tr>
									{% for j in range(numGpus[nd]) %}
									<tr>
										{% if j in nodeData[nd]["gpuUse"] %}
										<td class="red-text"> {{str(j)}}</td>
										{% else %}
										<td class="green-text">{{str(j)}}</td>
										{% endif %}

										<td> {{ nodeData[nd]["gpu" + str(j)]["name"] }} </td>
										<td> {{ nodeData[nd]["gpu" + str(j)]["util"] }} </td>
										<td> {{ nodeData[nd]["gpu" + str(j)]["memUsed"] }} </td>
										<td> {{ nodeData[nd]["gpu" +
											str(j)]["memTot"] }} </td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="">
				</div>
			</div>
		</footer>

		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="static/js/materialize.min.js"></script>
	</body>
</html>
